<a href="https://colab.research.google.com/github/Deendayal6265/Python-Deendayal/blob/main/Pandas/Pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#                  Deendayal Jatav

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Iris.csv")

In [ ]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
data.tail(2)

      Id  SepalLengthCm  ...  PetalWidthCm         Species
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[2 rows x 6 columns]

In [ ]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
data.sum()   # sum of all the coloumn's

Id                                                           11325
SepalLengthCm                                                876.5
SepalWidthCm                                                 458.1
PetalLengthCm                                                563.8
PetalWidthCm                                                 179.8
Species          Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object

# ** SUM OF THE SELECTED COLUMN **

In [ ]:
data['SepalLengthCm'].sum()    # sum of the perticular coloumn

876.5

# Add by giving any perticular coloumn

In [ ]:
A= data.groupby(['Species'])['SepalLengthCm'].sum()
A

Species
Iris-setosa        250.3
Iris-versicolor    296.8
Iris-virginica     329.4
Name: SepalLengthCm, dtype: float64

# copy of a data

In [ ]:
df = data.copy()

In [ ]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [ ]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

# Change the Coloumn Name

In [ ]:
df.columns = ["ID","SL","SW","PL","PW","flower_type"]
print("Name Changed Succesfully ! ")

Name Changed Succesfully !

In [ ]:
print(df.dtypes)

ID               int64
SL             float64
SW             float64
PL             float64
PW             float64
flower_type     object
dtype: object

In [ ]:
df.SL

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: SL, Length: 150, dtype: float64

In [ ]:
df.SL.sum()  # sum of the SL column

876.5

In [ ]:
df["SL"].sum()  # sum of the SL columns in different way

876.5

In [ ]:
df.isnull()

        ID     SL     SW     PL     PW  flower_type
0    False  False  False  False  False        False
1    False  False  False  False  False        False
2    False  False  False  False  False        False
3    False  False  False  False  False        False
4    False  False  False  False  False        False
..     ...    ...    ...    ...    ...          ...
145  False  False  False  False  False        False
146  False  False  False  False  False        False
147  False  False  False  False  False        False
148  False  False  False  False  False        False
149  False  False  False  False  False        False

[150 rows x 6 columns]

In [ ]:
df.isnull().sum()

ID             0
SL             0
SW             0
PL             0
PW             0
flower_type    0
dtype: int64

In [ ]:
l = df.iloc[1:4,2:5]  # 1:4 is for row 1 to 3   .... and 2:5 for column 2 to 4 
print(l)

In [ ]:
df.head(3)

   ID   SL   SW   PL   PW  flower_type
0   1  5.1  3.5  1.4  0.2  Iris-setosa
1   2  4.9  3.0  1.4  0.2  Iris-setosa
2   3  4.7  3.2  1.3  0.2  Iris-setosa

# ** Manipulating Data in Data Frames **

In [ ]:
df.head(4)

   ID   SL   SW   PL   PW  flower_type
0   1  5.1  3.5  1.4  0.2  Iris-setosa
1   2  4.9  3.0  1.4  0.2  Iris-setosa
2   3  4.7  3.2  1.3  0.2  Iris-setosa
3   4  4.6  3.1  1.5  0.2  Iris-setosa

In [ ]:
a = df.drop(0)   # here we give the a variable because without giving a its not chnage in data . 
a.head()

   ID   SL   SW   PL   PW  flower_type
1   2  4.9  3.0  1.4  0.2  Iris-setosa
2   3  4.7  3.2  1.3  0.2  Iris-setosa
3   4  4.6  3.1  1.5  0.2  Iris-setosa
4   5  5.0  3.6  1.4  0.2  Iris-setosa
5   6  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
df.drop(0, inplace = True)
df.head()

   ID   SL   SW   PL   PW  flower_type
1   2  4.9  3.0  1.4  0.2  Iris-setosa
2   3  4.7  3.2  1.3  0.2  Iris-setosa
3   4  4.6  3.1  1.5  0.2  Iris-setosa
4   5  5.0  3.6  1.4  0.2  Iris-setosa
5   6  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
#df.drop(0, inplace = True)  # This give the error we allrady deleted the 0 Zero row (label). if we want to from 0 again so reset the index . 
#df.head()

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.head()

   index  ID   SL   SW   PL   PW  flower_type
0      1   2  4.9  3.0  1.4  0.2  Iris-setosa
1      2   3  4.7  3.2  1.3  0.2  Iris-setosa
2      3   4  4.6  3.1  1.5  0.2  Iris-setosa
3      4   5  5.0  3.6  1.4  0.2  Iris-setosa
4      5   6  5.4  3.9  1.7  0.4  Iris-setosa

In [ ]:
df.index[0]

0

In [ ]:
df.index[0]

0

In [ ]:
df.drop(df.index[0],inplace = True)
print(df.head())

   index  ID   SL   SW   PL   PW  flower_type
1      2   3  4.7  3.2  1.3  0.2  Iris-setosa
2      3   4  4.6  3.1  1.5  0.2  Iris-setosa
3      4   5  5.0  3.6  1.4  0.2  Iris-setosa
4      5   6  5.4  3.9  1.7  0.4  Iris-setosa
5      6   7  4.6  3.4  1.4  0.3  Iris-setosa

In [ ]:
df.reset_index(inplace= True)

In [ ]:
df.head()

   level_0  index  ID   SL   SW   PL   PW  flower_type
0        1      2   3  4.7  3.2  1.3  0.2  Iris-setosa
1        2      3   4  4.6  3.1  1.5  0.2  Iris-setosa
2        3      4   5  5.0  3.6  1.4  0.2  Iris-setosa
3        4      5   6  5.4  3.9  1.7  0.4  Iris-setosa
4        5      6   7  4.6  3.4  1.4  0.3  Iris-setosa

In [ ]:
df.SL >=3

0      True
1      True
2      True
3      True
4      True
       ...
143    True
144    True
145    True
146    True
147    True
Name: SL, Length: 148, dtype: bool

In [ ]:
df[df.SL <=4.5]

    level_0  index  ID   SL   SW   PL   PW  flower_type
6         7      8   9  4.4  2.9  1.4  0.2  Iris-setosa
11       12     13  14  4.3  3.0  1.1  0.1  Iris-setosa
36       37     38  39  4.4  3.0  1.3  0.2  Iris-setosa
39       40     41  42  4.5  2.3  1.3  0.3  Iris-setosa
40       41     42  43  4.4  3.2  1.3  0.2  Iris-setosa

In [ ]:
df[df.flower_type == 'Iris-setosa']

    level_0  index  ID   SL   SW   PL   PW  flower_type
0         1      2   3  4.7  3.2  1.3  0.2  Iris-setosa
1         2      3   4  4.6  3.1  1.5  0.2  Iris-setosa
2         3      4   5  5.0  3.6  1.4  0.2  Iris-setosa
3         4      5   6  5.4  3.9  1.7  0.4  Iris-setosa
4         5      6   7  4.6  3.4  1.4  0.3  Iris-setosa
5         6      7   8  5.0  3.4  1.5  0.2  Iris-setosa
6         7      8   9  4.4  2.9  1.4  0.2  Iris-setosa
7         8      9  10  4.9  3.1  1.5  0.1  Iris-setosa
8         9     10  11  5.4  3.7  1.5  0.2  Iris-setosa
9        10     11  12  4.8  3.4  1.6  0.2  Iris-setosa
10       11     12  13  4.8  3.0  1.4  0.1  Iris-setosa
11       12     13  14  4.3  3.0  1.1  0.1  Iris-setosa
12       13     14  15  5.8  4.0  1.2  0.2  Iris-setosa
13       14     15  16  5.7  4.4  1.5  0.4  Iris-setosa
14       15     16  17  5.4  3.9  1.3  0.4  Iris-setosa
15       16     17  18  5.1  3.5  1.4  0.3  Iris-setosa
16       17     18  19  5.7  3.8  1.7  0.3  Iris-setosa
17       18     19  20  5.1  3.8  1.5  0.3  Iris-setosa
18       19     20  21  5.4  3.4  1.7  0.2  Iris-setosa
19       20     21  22  5.1  3.7  1.5  0.4  Iris-setosa
20       21     22  23  4.6  3.6  1.0  0.2  Iris-setosa
21       22     23  24  5.1  3.3  1.7  0.5  Iris-setosa
22       23     24  25  4.8  3.4  1.9  0.2  Iris-setosa
23       24     25  26  5.0  3.0  1.6  0.2  Iris-setosa
24       25     26  27  5.0  3.4  1.6  0.4  Iris-setosa
25       26     27  28  5.2  3.5  1.5  0.2  Iris-setosa
26       27     28  29  5.2  3.4  1.4  0.2  Iris-setosa
27       28     29  30  4.7  3.2  1.6  0.2  Iris-setosa
28       29     30  31  4.8  3.1  1.6  0.2  Iris-setosa
29       30     31  32  5.4  3.4  1.5  0.4  Iris-setosa
30       31     32  33  5.2  4.1  1.5  0.1  Iris-setosa
31       32     33  34  5.5  4.2  1.4  0.2  Iris-setosa
32       33     34  35  4.9  3.1  1.5  0.1  Iris-setosa
33       34     35  36  5.0  3.2  1.2  0.2  Iris-setosa
34       35     36  37  5.5  3.5  1.3  0.2  Iris-setosa
35       36     37  38  4.9  3.1  1.5  0.1  Iris-setosa
36       37     38  39  4.4  3.0  1.3  0.2  Iris-setosa
37       38     39  40  5.1  3.4  1.5  0.2  Iris-setosa
38       39     40  41  5.0  3.5  1.3  0.3  Iris-setosa
39       40     41  42  4.5  2.3  1.3  0.3  Iris-setosa
40       41     42  43  4.4  3.2  1.3  0.2  Iris-setosa
41       42     43  44  5.0  3.5  1.6  0.6  Iris-setosa
42       43     44  45  5.1  3.8  1.9  0.4  Iris-setosa
43       44     45  46  4.8  3.0  1.4  0.3  Iris-setosa
44       45     46  47  5.1  3.8  1.6  0.2  Iris-setosa
45       46     47  48  4.6  3.2  1.4  0.2  Iris-setosa
46       47     48  49  5.3  3.7  1.5  0.2  Iris-setosa
47       48     49  50  5.0  3.3  1.4  0.2  Iris-setosa

In [ ]:
df[df.flower_type == 'Iris-setosa'].describe()

       level_0  index     ID         SL         SW         PL         PW
count    48.00  48.00  48.00  48.000000  48.000000  48.000000  48.000000
mean     24.50  25.50  26.50   5.006250   3.425000   1.466667   0.245833
std      14.00  14.00  14.00   0.359317   0.383988   0.176651   0.109074
min       1.00   2.00   3.00   4.300000   2.300000   1.000000   0.100000
25%      12.75  13.75  14.75   4.800000   3.175000   1.400000   0.200000
50%      24.50  25.50  26.50   5.000000   3.400000   1.500000   0.200000
75%      36.25  37.25  38.25   5.200000   3.700000   1.600000   0.300000
max      48.00  49.00  50.00   5.800000   4.400000   1.900000   0.600000

In [ ]:
df[df.flower_type == 'Iris-setosa'].sum()

level_0                                                     1176
index                                                       1224
ID                                                          1272
SL                                                         240.3
SW                                                         164.4
PL                                                          70.4
PW                                                          11.8
flower_type    Iris-setosaIris-setosaIris-setosaIris-setosaIr...
dtype: object

# **loc VS iloc**

In [ ]:


print(df.head(3))
print()
print(df.iloc[0]) # position or indexing 
print()
print(df.loc[0]) # label

   level_0   SW   PL   PW  flower_type  diff_pl_pw
0        1  3.2  1.3  0.2  Iris-setosa         1.1
1        2  3.1  1.5  0.2  Iris-setosa         1.3
2        3  3.6  1.4  0.2  Iris-setosa         1.2

level_0                  1
SW                     3.2
PL                     1.3
PW                     0.2
flower_type    Iris-setosa
diff_pl_pw             1.1
Name: 0, dtype: object

level_0                  1
SW                     3.2
PL                     1.3
PW                     0.2
flower_type    Iris-setosa
diff_pl_pw             1.1
Name: 0, dtype: object

# ** Add a row in data set **

In [ ]:
df.tail()

     level_0   SW   PL   PW     flower_type  diff_pl_pw
143      144  3.0  5.2  2.3  Iris-virginica         2.9
144      145  2.5  5.0  1.9  Iris-virginica         3.1
145      146  3.0  5.2  2.0  Iris-virginica         3.2
146      149  2.0  3.0  4.0     Iris-setosa        -1.0
147      148  3.0  5.1  1.8  Iris-virginica         3.3

In [ ]:
df.drop(['level_0'],axis =1)

      SW   PL   PW     flower_type  diff_pl_pw
0    3.2  1.3  0.2     Iris-setosa         1.1
1    3.1  1.5  0.2     Iris-setosa         1.3
2    3.6  1.4  0.2     Iris-setosa         1.2
3    3.9  1.7  0.4     Iris-setosa         1.3
4    3.4  1.4  0.3     Iris-setosa         1.1
..   ...  ...  ...             ...         ...
143  3.0  5.2  2.3  Iris-virginica         2.9
144  2.5  5.0  1.9  Iris-virginica         3.1
145  3.0  5.2  2.0  Iris-virginica         3.2
146  2.0  3.0  4.0     Iris-setosa        -1.0
147  3.0  5.1  1.8  Iris-virginica         3.3

[148 rows x 5 columns]

In [ ]:
df.loc[148]= [178,1,2,3,'iris-verginica',-1]# label based adding a row .

In [ ]:
df.tail()

     level_0   SW   PL   PW     flower_type  diff_pl_pw
143      144  3.0  5.2  2.3  Iris-virginica         2.9
144      145  2.5  5.0  1.9  Iris-virginica         3.1
145      146  3.0  5.2  2.0  Iris-virginica         3.2
146      149  2.0  3.0  4.0     Iris-setosa        -1.0
147      148  3.0  5.1  1.8  Iris-virginica         3.3

In [ ]:
df.reset_index(drop=True)   # if we wrte drop = True the nno create the the new index column

     level_0   SW   PL   PW     flower_type  diff_pl_pw
0          1  3.2  1.3  0.2     Iris-setosa         1.1
1          2  3.1  1.5  0.2     Iris-setosa         1.3
2          3  3.6  1.4  0.2     Iris-setosa         1.2
3          4  3.9  1.7  0.4     Iris-setosa         1.3
4          5  3.4  1.4  0.3     Iris-setosa         1.1
..       ...  ...  ...  ...             ...         ...
143      144  3.0  5.2  2.3  Iris-virginica         2.9
144      145  2.5  5.0  1.9  Iris-virginica         3.1
145      146  3.0  5.2  2.0  Iris-virginica         3.2
146      149  2.0  3.0  4.0     Iris-setosa        -1.0
147      148  3.0  5.1  1.8  Iris-virginica         3.3

[148 rows x 6 columns]

In [ ]:
# delet the index_0 and index name column 
df.drop(["level_0"],axis=1)

      SW   PL   PW     flower_type  diff_pl_pw
0    3.2  1.3  0.2     Iris-setosa         1.1
1    3.1  1.5  0.2     Iris-setosa         1.3
2    3.6  1.4  0.2     Iris-setosa         1.2
3    3.9  1.7  0.4     Iris-setosa         1.3
4    3.4  1.4  0.3     Iris-setosa         1.1
..   ...  ...  ...             ...         ...
143  3.0  5.2  2.3  Iris-virginica         2.9
144  2.5  5.0  1.9  Iris-virginica         3.1
145  3.0  5.2  2.0  Iris-virginica         3.2
146  2.0  3.0  4.0     Iris-setosa        -1.0
147  3.0  5.1  1.8  Iris-virginica         3.3

[148 rows x 5 columns]

In [ ]:
df.head(1)

   level_0   SW   PL   PW  flower_type  diff_pl_pw
0        1  3.2  1.3  0.2  Iris-setosa         1.1

In [ ]:
df.loc[148]= [170,1,2,3,'iris-verginica',-1]# label based adding a row .

In [ ]:
# delet the index_0 and index name column 
df.drop(['ID'],axis=1,inplace=True)

KeyError: ignored

In [ ]:
df.drop(['index'],axis=1,inplace=True)

KeyError: ignored

In [ ]:
df.head(1)

   level_0   SW   PL   PW  flower_type  diff_pl_pw
0        1  3.2  1.3  0.2  Iris-setosa         1.1

In [ ]:
del df["SL"] # it also drop the column ... in the del function axis is default 1 .

# **Add a column**

In [ ]:
df['diff_pl_pw'] = df["PL"]-df["PW"]
df.head(2)

   level_0   SW   PL   PW  flower_type  diff_pl_pw
0        1  3.2  1.3  0.2  Iris-setosa         1.1
1        2  3.1  1.5  0.2  Iris-setosa         1.3

In [ ]:
00

0

# **again Crate a copy of data set ** **bold text**

In [ ]:
dt=data.copy()

In [ ]:
# create some NA entry in our data set becuase we don't have any na value in our data set .

dt.iloc[2:4,1:3]=0 

print(dt.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            0.0           0.0            1.3           0.2  Iris-setosa
3   4            0.0           0.0            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:

dt.iloc[2:4,1:3]= np.nan

print(dt.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            NaN           NaN            1.3           0.2  Iris-setosa
3   4            NaN           NaN            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
dt.count()

Id               150
SepalLengthCm    148
SepalWidthCm     148
PetalLengthCm    150
PetalWidthCm     150
Species          150
dtype: int64

# handling the NAN values or blank

In [ ]:
dt.dropna(inplace=True)  
print(dt.head())# in the given output we seen that we have not label 2 0r 3 value . dropna funcion delete bacause it has some blank entry.

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa

In [ ]:
dt.reset_index(drop=True,inplace=True)
print("Index reset Sucessfully . \n")
print(dt.head())

Index reset Sucessfully .

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   5            5.0           3.6            1.4           0.2  Iris-setosa
3   6            5.4           3.9            1.7           0.4  Iris-setosa
4   7            4.6           3.4            1.4           0.3  Iris-setosa

In [ ]:

dt.iloc[2:4,1:3]= np.nan

print(dt.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   5            NaN           NaN            1.4           0.2  Iris-setosa
3   6            NaN           NaN            1.7           0.4  Iris-setosa
4   7            4.6           3.4            1.4           0.3  Iris-setosa

# Fill the NAN value with the mean

In [ ]:
dt.SepalLengthCm.fillna(dt.SepalLengthCm.mean(),inplace=True) # fill the nan entry with the mean

In [ ]:
dt.SepalWidthCm.fillna(dt.SepalWidthCm.mean(),inplace=True)

In [ ]:
dt.head(4) # now we seen thet our entry filled with the mean of its all over column

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1       5.100000      3.500000            1.4           0.2  Iris-setosa
1   2       4.900000      3.000000            1.4           0.2  Iris-setosa
2   5       5.868493      3.043151            1.4           0.2  Iris-setosa
3   6       5.868493      3.043151            1.7           0.4  Iris-setosa

# string Handling data

In [ ]:
# creat a coloum 
dt['Gender']="female"
dt.iloc[0:10,6]="male"

In [ ]:
print(dt.head(11))

    Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm      Species  Gender
0    1       5.100000      3.500000  ...           0.2  Iris-setosa    male
1    2       4.900000      3.000000  ...           0.2  Iris-setosa    male
2    5       5.868493      3.043151  ...           0.2  Iris-setosa    male
3    6       5.868493      3.043151  ...           0.4  Iris-setosa    male
4    7       4.600000      3.400000  ...           0.3  Iris-setosa    male
5    8       5.000000      3.400000  ...           0.2  Iris-setosa    male
6    9       4.400000      2.900000  ...           0.2  Iris-setosa    male
7   10       4.900000      3.100000  ...           0.1  Iris-setosa    male
8   11       5.400000      3.700000  ...           0.2  Iris-setosa    male
9   12       4.800000      3.400000  ...           0.2  Iris-setosa    male
10  13       4.800000      3.000000  ...           0.1  Iris-setosa  female

[11 rows x 7 columns]

In [ ]:
def f(s):
  if s == "male":
    return 1
  else:
    return 0
  
dt['sex']=dt.Gender.apply(f)
del dt['Gender']

print(dt.head())

   Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm      Species sex
0   1       5.100000      3.500000  ...           0.2  Iris-setosa   1
1   2       4.900000      3.000000  ...           0.2  Iris-setosa   1
2   5       5.868493      3.043151  ...           0.2  Iris-setosa   1
3   6       5.868493      3.043151  ...           0.4  Iris-setosa   1
4   7       4.600000      3.400000  ...           0.3  Iris-setosa   1

[5 rows x 7 columns]

In [ ]:
print(dt.tail())

      Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm         Species sex
143  146            6.7           3.0  ...           2.3  Iris-virginica   0
144  147            6.3           2.5  ...           1.9  Iris-virginica   0
145  148            6.5           3.0  ...           2.0  Iris-virginica   0
146  149            6.2           3.4  ...           2.3  Iris-virginica   0
147  150            5.9           3.0  ...           1.8  Iris-virginica   0

[5 rows x 7 columns]

# sorting of the data

In [ ]:
st= data.copy()

In [ ]:
st.sort_values(['SepalLengthCm'],inplace=True)   # sort the data by the given colomn name .

In [ ]:
print(st.head(10))

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
13  14            4.3           3.0            1.1           0.1  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa

In [ ]:
st.sort_index(inplace=True)  # it sort the index .

In [ ]:
st.sort_values(by=['SepalLengthCm','SepalWidthCm'],inplace = True)   # sort the data by the given  multiple colomn name .

In [ ]:
print(st.head(7))

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
13  14            4.3           3.0            1.1           0.1  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa

# sort data in ascending or descending how to set .

In [ ]:
st.sort_values(by=['PetalLengthCm'],inplace = True,ascending = False)   # sort the data by the given colomn name here the data sort in descending order .

In [ ]:
st.head(10) # it is the sorted data in descending order of PetalLength .

      Id  SepalLengthCm  ...  PetalWidthCm         Species
118  119            7.7  ...           2.3  Iris-virginica
117  118            7.7  ...           2.2  Iris-virginica
122  123            7.7  ...           2.0  Iris-virginica
105  106            7.6  ...           2.1  Iris-virginica
131  132            7.9  ...           2.0  Iris-virginica
107  108            7.3  ...           1.8  Iris-virginica
135  136            7.7  ...           2.3  Iris-virginica
130  131            7.4  ...           1.9  Iris-virginica
109  110            7.2  ...           2.5  Iris-virginica
100  101            6.3  ...           2.5  Iris-virginica

[10 rows x 6 columns]